
#humanstxt-metabox { float: right; width: auto; min-width: 0; padding: 10px 20px; text-align: center; border-color: #DFDFDF; background-color: #F9F9F9; background-image: none; }
	#humanstxt .text-rateit { margin-top: 0; }
	#humanstxt .star-holder { margin: 0 auto; }

#humanstxt .form-table { width: auto; clear: left; }
	#humanstxt #humanstxt_table_content { float: left; margin: 0; }
		#humanstxt_content { display: block; resize: none; }

#humanstxt-vars { float: left; padding: 40px 0 0 20px; }
	#humanstxt-vars h4 { font-size: 16px; font-weight: bold; margin: 0 0 1em 0; }
	#humanstxt-vars li.has-result { cursor: help; }

p.submit { clear: both; }

/* rather than trying to fix the display of our rating box...
   ...we just hide it from hide to ie 6 & 7... */
* html #humanstxt-metabox { display: none !important; }
*+html #humanstxt-metabox { display: none !important; }

/* taken from /wp-admin/css/theme-install.dev.css */
div.star-holder {
	position: relative;
	height: 19px;
	width: 100px;
	font-size: 19px;
}

div.star {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	letter-spacing: 1ex;
	border: none;
}

.star1 { width: 20%; }
.star2 { width: 40%; }
.star3 { width: 60%; }
.star4 { width: 80%; }
.star5 { width: 100%; }

.star img, div.star a, div.star a:hover, div.star a:visited {
	display: block;
	position: absolute;
	right: 0;
	border: none;
	text-decoration: none;
}

div.star img {
	width: 19px;
	height: 19px;
	border-left: 1px solid #F9F9F9;
	border-right: 1px solid #F9F9F9;
}
